@import "src/assets/scss/mixins";

.the-to-do-list-item {
  .to-do-list-item__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 500px;
    padding-top: 20px;
    color: #0b5653;
    font-size: 15px;
    margin: 0 auto;
  }

  .to-do-list-item__text {
    @include line-clamp();
    flex: 1 0 350px;
    margin-right: 10px;
  }

  .todo-input {
    @include todo-input();
    flex: 1 0 350px;
    margin-right: 10px;
  }
  .to-do-list-item__button{
    margin-right: 10px;
    flex: 1 0 75px;

    &:last-of-type{
      margin-right: 0;
    }
  }
}


