.the-button {
    box-sizing: border-box;
    background-color: #272a38;
    color: #e8d3d3;
    border: 1px solid #0b5653;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}