@mixin button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 15px #ccc;
    color: #fff;
    background-color: rgb(97, 184, 255);
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.the-button {
    @include button()
}
